@import '../twine/theme';
@import '../common/buttons';
@import '../common/media';

#hud {
    align-items: center;
    background: $background-color;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3em;
    max-width: 65em;
    position: sticky;
    top: 0px;
    z-index: 50;

    // Tablet
    @media only screen and (max-width: $tablet) {
        margin-bottom: 1.5em;
    }

    // Tablet
    @media only screen and (max-height: $phone) {
        margin-bottom: 1.5em;
    }
}

.hud-item {
    display: flex;
    flex: 1;
    padding: 0 5px;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-left: 2em;

    // Tablet
    @media only screen and (max-width: $tablet) {
        font-size: 0.65em;
    }
    
}

.menu-button {
    min-width: 3em;
    min-height: 3em;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
        border: 1px solid $hover-color;
        height: 2.5em;
        margin: 5px 0px;

        >div {
            text-transform: uppercase;
        }
    }
}

.menu-version {
    text-align: right;
}

#ui-bar {
    display: none;
}

