@import '../twine/theme';
@import '../common/buttons';

#hud {
    align-items: center;
    background: $background-color;
    border-radius: 2px;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3em;
    max-width: 65em;
    position: sticky;
    top: 0px;
    z-index: 50;
}

.hud-item {
    display: flex;
    flex: 1;
    padding: 0 5px;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-left: 2em;
}

.menu-button {
    min-width: 3em;
    min-height: 3em;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;

    >li {
        border: 1px solid $hover-color;
        height: 2.5em;
        margin: 5px 0px;

        >div {
            text-transform: uppercase;
        }
    }
}

.menu-version {
    text-align: right;
}

#ui-bar {
    display: none;
}

