@import '../common/media';
@import '../common/buttons';

#story {
    margin-top: 0;
    margin-bottom: 0;
};

#ui-bar.stowed~#story {
    margin-left: 1.5em;
}

#passages {
    // Tablet
    @media only screen and (max-width: $tablet) {
        height: 70vh;
    }
}

button {
    @extend .button;

    display: inline-block;
    margin:0;
    border: 0;
    border-radius: 2px;
}

#ui-dialog-close {
    width: 3em;
    height: 100%;
    border-radius: 0;
}

#ui-dialog-title {
    padding: 0.3em;
}

#ui-dialog-body ul.buttons {
    display: flex;
    justify-content: center;
}

#restart-ok, #restart-cancel {
    width: 4em;
}