@import '../common/media';

#story {
    margin-top: 0;
    margin-bottom: 0;
};

#ui-bar.stowed~#story {
    margin-left: 1.5em;
}

#passages {
    // Tablet
    @media only screen and (max-width: $tablet) {
        height: 70vh;
    }
}