@import '../twine/theme';

.button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    background-color: $background-color;

    &:hover {
        background-color: $hover-color;
    }
}