@import '../twine/theme';
@import '../common/buttons';
@import '../common/media';

@mixin header {
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.events {
    display: flex;
    // border: 1px solid;

    &-wrapper {
        @extend .events;
        flex-direction: column;
        height: 85vh;
        max-height: 55em;

        // Tablet
        @media only screen and (max-width: $tablet) {
            height: 80vh;
        }

        // Tablet
        @media only screen and (max-height: $phone) {
            flex-direction: row;
            height: 62vh;
        }
    }

    &-story {
        @extend .events;
        flex-direction: column;
        max-height: 40em;
        min-height: 1em;
        position: relative;
        flex: 1;

        &.to {
            z-index: 3;
            display: block;
            visibility: visible;
            position: absolute;
            height: 2em;
            width: 3em;
            opacity: 1;
            animation: fade-in 400ms forwards 100ms;
            background: transparent;

            &-bottom {
                @extend .to;

                bottom: 1em;
                right: 1em;
            }

            &-top {
                @extend .to;

                top: 1em;
                right: 1em;
            }

            &-left {
                @extend .to;

                bottom: 1em;
                left: 1em;
            }
        }

        &.warning {
            background-color: #ff0000 !important;

            &:hover {
                background-color: #ff3131 !important;
            }
        }

        &.hide {
            opacity: 0;
            visibility: hidden;
        }

        &>.header {
            @include header;
        }

        &.body {
            overflow: hidden;
            border: solid $hover-color;
            border-top: 2px;
            border-bottom: 2px;
            height: 40em;
            z-index: 2;

            &:hover {
                overflow-y: overlay;
            }

            /* width */
            &::-webkit-scrollbar {
                width: 0.25em;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
                width: 0.25em;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #999;
            }

            &>.gray {
                background: $background-color;
                border: solid $hover-color;
                // For some reason, have to use left/right instead of top/bottom
                border-left: 2px;
                border-right: 2px;
            }

            &>div {
                z-index: 1;
                display: flex;
                padding: 1em;
                justify-content: center;
                align-items: center;
                text-align: center;

                &.new {
                    animation: slide-right 400ms forwards;
                }

                &.load {
                    animation: fade-in 400ms forwards;
                }
            }

            // Tablet
            @media only screen and (max-width: $tablet) {
                font-size: 0.85em;
            }

            // Tablet
            @media only screen and (max-height: $phone) {
                font-size: 0.85em;
            }
        }

        // Tablet
        @media only screen and (max-height: $phone) {
            flex: 3;
        }
    }

    &-controls {
        display: flex;
        flex-direction: column;

        @media only screen and (max-height: $phone) {
            margin-top: 0;
            flex: 2;
            min-width: 20em;
        }
    }

    &-interactions {
        @extend .events;
        flex-flow: row wrap;
        max-width: 53.5em;
        margin-top: 1em;

        &>.header {
            @include header;
        }

        &>button {
            @extend .button;
            height: 2.5em;
            flex: 1 1 18em;
            margin: 0.5em;
            border-color: transparent;
            display: none;
            opacity: 0;
            pointer-events: none;

            &[open] {
                display: flex;
                pointer-events: all;
                animation: fade-in 400ms forwards 100ms;
            }

            &[closing] {
                display: flex;
                pointer-events: none;
                animation: fade-out 400ms forwards;
            }

            @media only screen and (max-height: $phone) {
                margin: 0 0.5em;
            }

            &:disabled {
                background: linear-gradient(#444, #444) no-repeat;
                background-position: center;
                background-size: 0% 0%;
                border: 0px;
            }

            &.red {
                background-color: #ff0000;

                &:hover {
                    background-color: #ff3131;
                }
            }

            &.green {
                background-color: #2ea42e;

                &:hover {
                    background-color: #5dc25d;
                }
            }
        }

        // &>.hide {
        //     visibility: hidden;
        // }

        // &>.show {
        //     display: flex;
        // }

        // Tablet
        @media only screen and (max-height: $phone) {
            margin-top: 0;
            flex: 2;
            max-width: 20em;
        }
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}