@import '../twine/theme';
@import '../common/buttons';

@mixin header {
    align-self: center;
    font-size: 24px;
    font-weight: bold;
}

.events {
    display: flex;
    // border: 1px solid;

    &-wrapper {
        @extend .events;
        flex-direction: column;
        height: 85vh;
        max-height: 55em;
    }

    &-story {
        @extend .events;
        flex-direction: column;
        max-height: 40em;
        min-height: 1em;
        position: relative;
        flex: 1;


        &.to {
            display: none;
            position: absolute;
            height: 2em;
            width: 3em;
            z-index: 1;

            &-bottom {
                @extend .to;

                bottom: 1em;
                right: 1em;
            }

            &-top {
                @extend .to;

                top: 1em;
                right: 1em;
            }

            &-middle {
                @extend .to;

                bottom: 1em;
                left: 50%;
            }
        }

        &.warning {
            background-color: #ff0000!important;

            &:hover {
                background-color: #ff3131!important;
            }
        }

        &.show {
            display: block;
            background: transparent
        }

        &>.header {
            @include header;
        }

        &.body {
            overflow: hidden;
            border: solid $hover-color;
            border-top: 2px;
            border-bottom: 2px;
            height: 40em;

            &:hover {
                overflow-y: overlay;
            }

            /* width */
            &::-webkit-scrollbar {
                width: 0.25em;
            }

            /* Track */
            &::-webkit-scrollbar-track {
                background: transparent;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
                width: 0.25em;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #999;
            }

            &>.gray {
                background: $background-color;
                border: solid $hover-color;
                // For some reason, have to use left/right instead of top/bottom
                border-left: 2px;
                border-right: 2px;
            }

            &>div {
                display: flex;
                padding: 1em;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    &-interactions {
        @extend .events;
        flex-flow: row wrap;
        max-width: 53.5em;
        margin-top: 2em;

        &>.header {
            @include header;
        }

        &>button {
            @extend .button;
            height: 2.5em;
            flex: 1 1 18em;
            margin: 0.5em;
            border-color: transparent;

            &:disabled {
                background: linear-gradient(#444, #444) no-repeat;
                background-position: center;
                background-size: 0% 0%;
                border: 0px;
            }

            &.red {
                background-color: #ff0000;

                &:hover {
                    background-color: #ff3131;
                }
            }
        }

        &>.hide {
            display: none;
        }
    }
}